<template name="projectTemplate">
    {{#with ownerProjectId}}
        {{#with ownerProjectData}}
            {{fullName}}
        {{/with}}
        {{#each multiProject}}
            {{#with singleProjectData}}
                <h3>Here is the {{this.name}}</h3>
                <p>And this is the {{type}}</p>
                <p>And here they are combined: {{nameType}}</p>
                <p>And these are the tasks associated with it </p>
            {{/with}}
            {{> tasksTemplate}}
        {{/each}}
    {{/with}}
<!--{{anotherJunkTemplate}} -->
</template>
